{% extends 'funcionario/_base.html'%}

{% block content %}

<div class="pagetitle">
  <h1>Ver detalhes</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/equipamento/">Equipamentos</a></li>
      <li class="breadcrumb-item active">Ver detalhes</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
      <div class="col-lg-6">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Informações do equipamento</h5>

            <!-- Default List group -->
            <ul class="list-group">
              <li class="list-group-item">Código: {{ equipamento.codigo }}</li>
              <li class="list-group-item">Nome: {{ equipamento.nome }}</li>
              <li class="list-group-item">Marca: {{ equipamento.marca }}</li>
              <li class="list-group-item">Status: {{ equipamento.get_status_display }}</li> 
              <li class="list-group-item"><a class="btn btn-primary" href="/equipamento/">Voltar</a></li>
            </ul><!-- End Default List group -->

          </div>
        </div>

    </div>
  </section>

{% endblock %}