{% extends 'funcionario/_base.html' %}

{% block content %}

<div class="pagetitle">
    <h1>Lista de Equipamentos</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/funcionario/">Home</a></li>
        <li class="breadcrumb-item active">Equipamentos</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

<div class="card shadow mb-4">
    <div class="card-header py-3 d-sm-flex align-items-center justify-content-between mb-4">
        <h4>Equipamentos</h4>
        <a class="btn btn-primary" href="{% url 'criar_equipamento' %}">+ Adicionar</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Código</th>
                  <th>Nome</th>
                  <th>Marca</th>
                  <th>Status</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                {% for equipamento in equipamentos %}
                  <tr>
                    <td>{{ equipamento.codigo }}</td>
                    <td>{{ equipamento.nome }}</td>
                    <td>{{ equipamento.marca }}</td>
                    <td>{{ equipamento.get_status_display }}</td>
                    <td>
                      <a class="btn btn-info" href="{% url 'detalhar_equipamento' equipamento.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver detalhes"><i class="bi bi-eye"></i></a>
                      <a class="btn btn-warning" href="{% url 'editar_equipamento' equipamento.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"><i class="bi bi-pencil"></i></a>
                      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#basicModal-{{ equipamento.id }}"><i class="bi bi-trash"></i></button>
                    </td>
                  </tr>

                  <!-- Modal para cada equipamento -->
                  <div class="modal fade" id="basicModal-{{ equipamento.id }}" tabindex="-1">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title">Confirmar Exclusão</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                  Você está prestes a excluir o equipamento "{{ equipamento.nome }}". Esta ação é irreversível.
                              </div>
                              <div class="modal-footer">
                                  <form method="post" action="{% url 'deletar_equipamento' equipamento.id %}">
                                      {% csrf_token %}
                                      <button type="submit" class="btn btn-danger ms-2">Excluir</button>
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
