{% extends 'funcionario/_base.html'%}

{% block content %}

<div class="pagetitle">
  <h1>Ver detalhes</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/emprestimo/list/">Emprestimos</a></li>
      <li class="breadcrumb-item active">Ver detalhes</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
      <div class="col-lg-6">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Informações</h5>

            <!-- Default List group -->
            <ul class="list-group">
              <li class="list-group-item">Nome : {{ emprestimo.requisitante }}</li>
              <li class="list-group-item">Tipo de Requisitante : {{ emprestimo.get_tipoDoRequisitante_display }}</li>
              {% if emprestimo.get_tipoDoRequisitante_display == 'Aluno' or emprestimo.get_tipoDoRequisitante_display == 'Professor' %}
              <li class="list-group-item">Curso : {{ emprestimo.curso }}</li>    
              {% endif %}
              <li class="list-group-item">Equipamentos : 
                {% if emprestimo.equipamentos.exists %}
                    <ul>
                      {% for equipamento in emprestimo.equipamentos.all %}
                        <li>{{ equipamento.nome }}</li>
                      {% endfor %}
                    </ul>
                {% else %}
                    Nenhum equipamento
                {% endif %}
              </li>            
              <li class="list-group-item">Data do Empréstimo : {{ emprestimo.dataEmprestimo|date:"d/m/Y" }}</li>
              <li class="list-group-item">Data de devolução : {{ emprestimo.dataDevolucao|date:"d/m/Y" }}</li>
              <li class="list-group-item">Observações de devolução : {{ emprestimo.observacoesDeDevolucao }}</li>
              <li class="list-group-item">Funcionário Responsável : 
                {% if not emprestimo.funcionario %}
                  Root
                {% else %}
                {{ emprestimo.funcionario }}
                {% endif %}
              </li>
              <li class="list-group-item">Status : {{ emprestimo.get_status_display }}</li>
              <li class="list-group-item"><a class="btn btn-primary" href="/emprestimo/list/">Voltar</a></li>
            </ul><!-- End Default List group -->

          </div>
        </div>

    </div>
  </section>

{% endblock %}
