{% extends 'funcionario/_base.html' %}

{% block content %}

<div class="pagetitle">
    <h1>Lista de funcionários cadastrados</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/funcionario/">Home</a></li>
        <li class="breadcrumb-item active">Funcionarios</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

<div class="card shadow mb-4">
    <div class="card-header py-3 d-sm-flex align-items-center justify-content-between mb-4">
        <h4>Funcionários</h4>
        <a class="btn btn-primary" href="{% url 'funcionarioAdd' %}">+ Adicionar</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Cargo</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for f in funcionarios %}
                        <tr>
                            <td>{{ f.id }}</td>
                            <td>{{ f.username }}</td>
                            <td>{{ f.email }}</td>
                            <td>{{ f.get_cargo_display }}</td>
                            <td>
                                <a class="btn btn-info" href="{% url 'funcionarioDetail' f.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver detalhes"><i class="bi bi-eye"></i></a>
                                <a class="btn btn-warning" href="{% url 'funcionarioEdit' f.id  %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"><i class="bi bi-pencil"></i></a>
                                <a class="btn btn-danger" href="{% url 'funcionarioRemove' f.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Excluir"><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
