{% load static %}
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link {% if request.path == '/funcionario/' %}active{% else %}collapsed{% endif %}" href="/funcionario/">
          <i class="bi bi-grid"></i>
          <span>Home</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link {% if request.path == '/funcionario/list/' %}active{% else %}collapsed{% endif %}" href="/funcionario/list/">
          <i class="bi bi-people"></i>
          <span>Funcionarios</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link {% if request.path == '/emprestimo/list/' %}active{% else %}collapsed{% endif %}" href="/emprestimo/list/">
          <i class="bi bi-box"></i>
          <span>Emprestimo</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% if request.path == '/equipamento/' %}active{% else %}collapsed{% endif %}" href="/equipamento/">
          <i class="bi bi-hdd"></i>
          <span>Equipamento</span>
        </a>
      </li>

      <li class="nav-heading">Paginas</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/conta/perfil/">
          <i class="bi bi-person"></i>
          <span>Perfil</span>
        </a>
      </li><!-- End Profile Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->