{% extends 'funcionario/_base.html'%}

{% block content %}

<div class="pagetitle">
    <h1>Meu perfil</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/funcionario/">Home</a></li>
        <li class="breadcrumb-item">Usuario</li>
        <li class="breadcrumb-item active">Perfil</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Visão Geral</button>
              </li>
              </li>

            </ul>
            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="profile-overview">
                <h5 class="card-title">{{funcionario.username}}</h5>
                <h5 class="card-title">Detalhes do Perfil</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Nome</div>
                  <div class="col-lg-9 col-md-8">{{ funcionario.username }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8"> {{ funcionario.email }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Cargo</div>
                  <div class="col-lg-9 col-md-8">{{ funcionario.get_cargo_display }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Telefone</div>
                  <div class="col-lg-9 col-md-8">{{ funcionario.telefone }}</div>
                </div>

              </div>


            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>
  </section>

  {% endblock %}